<section class="wrapper pt-3 pb-14 md:pb-24">
  <div class="flex flex-col md:flex-row w-full justify-between gap-y-4">
    <%= image_tag "banners/banner-1.jpg", class: "w-full md:w-[calc(33%-10px)]"%>
    <%= image_tag "banners/banner-2.jpg", class: "w-full md:w-[calc(33%-10px)]"%>
    <%= image_tag "banners/banner-3.jpg", class: "w-full md:w-[calc(33%-10px)]"%>
  </div>
</section>