<style>
    .hero-swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 640px) { 
      .hero-swiper-slide {
      width: 100% !important;
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: none !important;
      } 
    }

    .hero-swiper-slide {
      width: 70%;
    } 
    .swiper-button-next:after,
    .swiper-button-prev:after{
    display:none;
  }
  </style>


  <div class="relative h-[400px] w-full sm:mt-5 mb-10">
    <div class="swiper h-full w-full myHeroSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero-swiper-slide !flex items-center justify-center text-xl ">
              <%= image_tag "hero/1.png", class: "!object-fit sm:rounded-2xl relative" %>
              <div class="absolute left-10 md:left-20 w-[300px]">
                <div class="w-fit px-4 py-1 rounded-full bg-white uppercase text-rhino-700 text-xs font-bold tracking-widest font-heading mb-5">Sale</div>
                <h1 class="text-white font-semibold text-xl lg:text-2xl mb-3">Take care of your performance every day.</h1>
                <p class="text-gray-300 text-sm mb-4">Build a well-presented brand that everyone will love.</p>
                <h2 class="text-white font-heading text-xl lg:text-2xl font-semibold mb-4">$235.95</h2>
                <a class="w-fit py-2 px-3 bg-purple-500 rounded-sm text-center text-white text-sm font-medium hover:bg-purple-600 transition duration-200" href="#">Go to Collection</a>
              </div>
        </div>
        <div class="swiper-slide hero-swiper-slide !flex items-center justify-center text-xl ">
              <%= image_tag "hero/1.png", class: "!object-fit sm:rounded-2xl relative" %>
              <div class="absolute left-10 md:left-20 w-[300px]">
                <div class="w-fit px-4 py-1 rounded-full bg-white uppercase text-rhino-700 text-xs font-bold tracking-widest font-heading mb-5">Sale</div>
                <h1 class="text-white font-semibold text-xl lg:text-2xl mb-3">Take care of your performance every day.</h1>
                <p class="text-gray-300 text-sm mb-4">Build a well-presented brand that everyone will love.</p>
                <h2 class="text-white font-heading text-xl lg:text-2xl font-semibold mb-4">$235.95</h2>
                <a class="w-fit py-2 px-3 bg-purple-500 rounded-sm text-center text-white text-sm font-medium hover:bg-purple-600 transition duration-200" href="#">Go to Collection</a>
              </div>
        </div>
        <div class="swiper-slide hero-swiper-slide !flex items-center justify-center text-xl ">
              <%= image_tag "hero/1.png", class: "!object-fit sm:rounded-2xl relative" %>
              <div class="absolute left-10 md:left-20 w-[300px]">
                <div class="w-fit px-4 py-1 rounded-full bg-white uppercase text-rhino-700 text-xs font-bold tracking-widest font-heading mb-5">Sale</div>
                <h1 class="text-white font-semibold text-xl lg:text-2xl mb-3">Take care of your performance every day.</h1>
                <p class="text-gray-300 text-sm mb-4">Build a well-presented brand that everyone will love.</p>
                <h2 class="text-white font-heading text-xl lg:text-2xl font-semibold mb-4">$235.95</h2>
                <a class="w-fit py-2 px-3 bg-purple-500 rounded-sm text-center text-white text-sm font-medium hover:bg-purple-600 transition duration-200" href="#">Go to Collection</a>
              </div>
        </div>
        <div class="swiper-slide hero-swiper-slide !flex items-center justify-center text-xl ">
              <%= image_tag "hero/1.png", class: "!object-fit sm:rounded-2xl relative" %>
              <div class="absolute left-10 md:left-20 w-[300px]">
                <div class="w-fit px-4 py-1 rounded-full bg-white uppercase text-rhino-700 text-xs font-bold tracking-widest font-heading mb-5">Sale</div>
                <h1 class="text-white font-semibold text-xl lg:text-2xl mb-3">Take care of your performance every day.</h1>
                <p class="text-gray-300 text-sm mb-4">Build a well-presented brand that everyone will love.</p>
                <h2 class="text-white font-heading text-xl lg:text-2xl font-semibold mb-4">$235.95</h2>
                <a class="w-fit py-2 px-3 bg-purple-500 rounded-sm text-center text-white text-sm font-medium hover:bg-purple-600 transition duration-200" href="#">Go to Collection</a>
              </div>
        </div>
      </div>
      <div class="swiper-button-next mr-[calc(30%/2-35px)] p-7 bg-white hover:bg-purple-500 rounded-full transition duration-200 text-black hover:text-white"><i class="fa-solid fa-arrow-right"></i></div>
      <div class="swiper-button-prev ml-[calc(30%/2-35px)] p-7 bg-white hover:bg-purple-500 rounded-full transition duration-200 text-black hover:text-white"><i class="fa-solid fa-arrow-left"></i></div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper1 = new Swiper(".myHeroSwiper", {
      autoplay: {
        delay: 5000,
      },
      loop: true,
      speed: 1000,
      slidesPerView: "auto",
      centeredSlides: true,
      spaceBetween: 40,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>