<div class="relative flex items-center" data-controller="top-bar">
  <div class="flex items-center  xl:gap-x-6">
    <div class='relative w-auto h-6 mr-3 xl:mr-0'>
      <div class="xl:flex">
        <svg class='w-6 h-6 fill-black dark:fill-white'>
          <use xlink:href="<%= image_path('remixicon.symbol.svg') %>#ri-shopping-cart-2-line"></use>
        </svg>
      
        <div id="link-to-cart" class="absolute top-0 left-0 w-full h-full" data-top-bar-target="cartLink">
          <noscript>
            <%= link_to t('spree.cart'), cart_path %>
          </noscript>
        </div>

      </div>
    </div>
    <p class="hidden xl:block xl:text-xs xl:-ml-4"><a href="/cart" style="font-size:0.8rem">Сагс</a></p>

    <div class="relative w-auto h-6">
      <%= link_to spree_current_user ? account_path : login_path, title: spree_current_user ? 'Account' : 'Login' do %>
        <svg class='w-6 h-6 fill-black dark:fill-white'>
          <use xlink:href="<%= image_path('remixicon.symbol.svg') %>#ri-user-line"></use>
        </svg>
    </div>
      <p class="hidden xl:block xl:text-xs xl:-ml-10"> <a href="/login" style="font-size:0.8rem">Нэвтрэх</a></p>
      <% end %>
    

  </div>
</div>
